.img-gallery {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  overflow: hidden;
  margin: auto;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0; /* Initially hidden */
}

.gallery-image.active {
  opacity: 1; /* Show the active image */
}
